* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.history {
    overflow-y: auto;
}

.container {
    background: #ffffff;
    padding: 30px;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-right: 60px;
    position: relative;     
}

.app {
    display: flex;
    gap: 40px;
}

h1 {
    text-align:  center;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    margin-top: 5px;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

.balance-container {
    text-align: center;
    margin-bottom: 10px;
}

#balance {
    font-size: 28px;
    margin-top: 10px;
}

.summary {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.income,
.expense{
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.income {
    background-color: #e6f9f0;
    color: #2ecc71;
}

.expense {
    background-color: #fdecea;
    color: #e74c3c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
    padding: 2px;
    width: 100%;
    
    
}

li.plus {
    font-size: 18px;
    background-color: #e6f9f0;
    border-radius: 5px;
}

li.minus {
    font-size: 18px;
    background-color: #fdecea;
    border-radius: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 2px 6px;
    cursor: pointer;
    border-radius: 3px;
}

.submit-btn {
    background: rgb(85, 85, 250);
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 1s ease;
}

.submit-btn:hover {
    scale: 1.1;
}

#description, #amount {
    display: flex;
    height: 30px;
    width: 75%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;  
}

.history {
    background: #ffffff;
    padding: 20px;
    width: 800px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.lists {
    display: grid;
    height: 270px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.lists ul {
    list-style: none;
    padding: 0;
}

.chart-container{
    margin: 0 auto;
    width: 700px;
    height: 200px;
}